<section class="p-8">
  <!-- Hero con total de Pokémon -->
  @if (pokemonResource()) {
    <div class="text-center mb-6">
      <h1 class="text-3xl font-bold">Total Pokémon: {{ pokemonResource()?.count }}</h1>
      <p class="text-gray-600">Página {{ activePage() }} de {{ totalPages() }}</p>
    </div>
  }

  <!-- Spinner -->
  @if (!pokemonResource()) {
    <div class="flex justify-center items-center h-64">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  }
    @if (pokemonResource()) {
    <app-pagination
      [pages]="totalPages()"
      [currentPage]="activePage()"
      (activePageChange)="activePage.set($event)"
    ></app-pagination>
  }

  <!-- Listado de Pokémon -->
  @if (pokemonResource()) {
    <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
      @for (poke of pokemonResource()?.results ?? []; track poke.name) {
        <li class="card p-4 shadow-lg hover:shadow-xl transition-all rounded-lg">
          <img
            [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getIdFromUrl(poke.url) + '.png'"
            class="w-20 h-20 mx-auto"
            [alt]="poke.name"
          />
          <h3 class="text-center mt-2 capitalize font-semibold">{{ poke.name }}</h3>
          <a 
            [routerLink]="['/pokemon', getIdFromUrl(poke.url)]"
            class="btn btn-sm btn-primary mt-2 block mx-auto"
          >Ver Detalle</a>
        </li>
      }
    </ul>
  }

  
</section>
